{% extends 'index.html' %}
{% block content %}
<!-- Mobile Menu start -->
<divz class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="dashboard.html">Dashboard v.1</a>
                                    </li>
                                    <li><a href="dashboard-2.html">Dashboard v.2</a>
                                    </li>
                                    <li><a href="analytics.html">Analytics</a>
                                    </li>
                                    <li><a href="widgets.html">Widgets</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="demo" class="collapse dropdown-header-top">
                                    <li><a href="inbox.html">Inbox</a>
                                    </li>
                                    <li><a href="view-mail.html">View Mail</a>
                                    </li>
                                    <li><a href="compose-mail.html">Compose Mail</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#others" href="#">Miscellaneous <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="others" class="collapse dropdown-header-top">
                                    <li><a href="profile.html">Profile</a>
                                    </li>
                                    <li><a href="contact-client.html">Contact Client</a>
                                    </li>
                                    <li><a href="contact-client-v.1.html">Contact Client v.1</a>
                                    </li>
                                    <li><a href="project-list.html">Project List</a>
                                    </li>
                                    <li><a href="project-details.html">Project Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                    <li><a href="google-map.html">Google Map</a>
                                    </li>
                                    <li><a href="data-maps.html">Data Maps</a>
                                    </li>
                                    <li><a href="pdf-viewer.html">Pdf Viewer</a>
                                    </li>
                                    <li><a href="x-editable.html">X-Editable</a>
                                    </li>
                                    <li><a href="code-editor.html">Code Editor</a>
                                    </li>
                                    <li><a href="tree-view.html">Tree View</a>
                                    </li>
                                    <li><a href="preloader.html">Preloader</a>
                                    </li>
                                    <li><a href="images-cropper.html">Images Cropper</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Chartsmob" class="collapse dropdown-header-top">
                                    <li><a href="bar-charts.html">Bar Charts</a>
                                    </li>
                                    <li><a href="line-charts.html">Line Charts</a>
                                    </li>
                                    <li><a href="area-charts.html">Area Charts</a>
                                    </li>
                                    <li><a href="rounded-chart.html">Rounded Charts</a>
                                    </li>
                                    <li><a href="c3.html">C3 Charts</a>
                                    </li>
                                    <li><a href="sparkline.html">Sparkline Charts</a>
                                    </li>
                                    <li><a href="peity.html">Peity Charts</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Tablesmob" class="collapse dropdown-header-top">
                                    <li><a href="static-table.html">Static Table</a>
                                    </li>
                                    <li><a href="data-table.html">Data Table</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="formsmob" class="collapse dropdown-header-top">
                                    <li><a href="basic-form-element.html">Basic Form Elements</a>
                                    </li>
                                    <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                    </li>
                                    <li><a href="password-meter.html">Password Meter</a>
                                    </li>
                                    <li><a href="multi-upload.html">Multi Upload</a>
                                    </li>
                                    <li><a href="tinymc.html">Text Editor</a>
                                    </li>
                                    <li><a href="dual-list-box.html">Dual List Box</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                    <li><a href="basic-form-element.html">Basic Form Elements</a>
                                    </li>
                                    <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                    </li>
                                    <li><a href="password-meter.html">Password Meter</a>
                                    </li>
                                    <li><a href="multi-upload.html">Multi Upload</a>
                                    </li>
                                    <li><a href="tinymc.html">Text Editor</a>
                                    </li>
                                    <li><a href="dual-list-box.html">Dual List Box</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                    <li><a href="login.html">Login</a>
                                    </li>
                                    <li><a href="register.html">Register</a>
                                    </li>
                                    <li><a href="captcha.html">Captcha</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a>
                                    </li>
                                    <li><a href="contact.html">Contacts</a>
                                    </li>
                                    <li><a href="review.html">Review</a>
                                    </li>
                                    <li><a href="order.html">Order</a>
                                    </li>
                                    <li><a href="comment.html">Comment</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</divz>
<!-- Mobile Menu end -->
<!-- Breadcome start-->
<div class="breadcome-area des-none mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcome-heading">
                                <form role="search" class="">
                                    <input type="text" placeholder="Search..." class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Dashboard</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!-- income order visit user Start -->
<div class="income-order-visit-user-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Income</h2>
                            <div class="main-income-phara">
                                <p>Monthly</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span>$</span><span class="counter">60888200</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline1"></span>
                            </div>
                        </div>
                        <div class="income-range">
                            <p>Total income</p>
                            <span class="income-percentange">98% <i class="fa fa-bolt"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Orders</h2>
                            <div class="main-income-phara order-cl">
                                <p>Annual</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span class="counter">72320</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline6"></span>
                            </div>
                        </div>
                        <div class="income-range order-cl">
                            <p>New Orders</p>
                            <span class="income-percentange">66% <i class="fa fa-level-up"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Visitor</h2>
                            <div class="main-income-phara visitor-cl">
                                <p>Today</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span class="counter">888200</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline2"></span>
                            </div>
                        </div>
                        <div class="income-range visitor-cl">
                            <p>New Visitor</p>
                            <span class="income-percentange">55% <i class="fa fa-level-up"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>User activity</h2>
                            <div class="main-income-phara low-value-cl">
                                <p>Low Value</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span class="counter">88200</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline5"></span>
                            </div>
                        </div>
                        <div class="income-range low-value-cl">
                            <p>In first month</p>
                            <span class="income-percentange">33%<i class="fa fa-level-down"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- income order visit user End -->
<!-- Transitions Start-->
<div class="transition-world-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="transition-world-list shadow-reset">
                    <div class="sparkline7-list">
                        <div class="sparkline7-hd">
                            <div class="main-spark7-hd">
                                <h1>Transitions <span class="res-ds-n">Worldwide</span></h1>
                                <div class="sparkline7-outline-icon">
                                    <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline7-graph">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                        <div id="toolbar">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="5" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                            <thead>
                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="id">No</th>
                                                    <th data-field="method" data-editable="true">Method</th>
                                                    <th data-field="date" data-editable="true">Date</th>
                                                    <th data-field="country" data-editable="true">Country</th>
                                                    <th data-field="amount" data-editable="true">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="vectorjsmarp" id="world-map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Transitions End-->
{% endblock %}